<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method = "post" enctype="multipart/form-data">
        <input type="text" name="author_name" placeholder="Name"/>
        

        <input type="number" name="phone" placeholder="Phone no." required/>
        

        <input type="file" name="file"  placeholder="Letter"/>
        <button>Submit</button>
    
    
    </form>
</body>
</html>